.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: url("/images/bg-left.png");
    position: absolute;
    z-index: -1;
    top: -340px;
    left: 0;
  }

  &::after {
    content: url("/images/bg-right.png");
    position: absolute;
    z-index: -1;
    top: -340px;
    right: 0;

  }

  @include onMobile {
    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }

  &__container {
    max-width: 1600px;
  }

  &__order {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
  }

  &__order-info {
    max-width: 846px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__order-text {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
  }

  &__order-button {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding: 15px 40px;
    border: 2px solid $color-cold-blue;
    border-radius: 10px;
    transition: background-color $transition-duration,
      color $transition-duration;

    &:hover {
      background-color: $color-cold-blue;
      color: #fff;
    }
  }

  &__section {
    margin-bottom: 150px;
  }
}
