@font-face {
  font-family: "San Francisco(SF UI)";
  src: url("./fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("./fonts/SFUIDisplay-Regular.woff") format("woff"),
    url("./fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
