.preheader {
  display: flex;
  height: 100px;
  justify-content: center;

  background-image: url("/images/preheader-bg.png");
  background-repeat: repeat-x;
  color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 1024px;
  }

  &__logo {
    align-self: center;
  }

  &__logo-link {
    display: flex;
  }

  &__props {
    display: flex;
    gap: 26px;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    padding-bottom: 6px;
  }

  &__phone {
    font-size: 25px;
    color: #000;
    margin-bottom: 12px;
    @include onMobile {
      display: none;
    }
  }

  &__lang-toggle {
    position: relative;
    color: #c1c1c1;
    font-size: 15px;
    padding-bottom: 8px;
    margin-right: 8px;

    &:hover {
      color: #000;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 3px;
        background-color: $color-light-blue;
      }
    }

    @include onMobile {
      display: none;
    }
  }

  &__consult {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding-bottom: 20px;

    &::after {
      content: url("/images/header-consult.svg");
      position: absolute;
      z-index: -1;
      top: -16px;
      left: -10px;
      width: 200px;
      height: 70px;
    }
  }

  &__consult-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
}
