.header {
  background-color: #000;
  height: 40px;
  display: flex;
  justify-content: space-evenly;

  @include onMobile {
    justify-content: space-between;
  }

  &__links {
    display: flex;
  }

  &__selector {
    position: relative;
    background-color: $color-gray;

    &::after {
      content: url("/images/header-selector.svg");
      position: absolute;
      top: 10px;
      right: 16px;
      height: 6px;
      width: 8px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 12px 34px 12px 18px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
  }

  &__selector-list {
    display: none;
    &--active {
      position: relative;
      display: block;
      background-color: #fff;
      background-image: url("/images/preheader-bg.png");
      background-repeat: repeat-y;
      background-position: center;
      background-size: contain;
    }
  }

  &__selector-town {
    position: relative;
    color: #000;
    display: block;
    padding: 10px 25px;
    text-decoration: none;

    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 10px;
      width: 3px;
      height: 100%;
      background-color: $color-light-blue;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 32px;
    font-size: 15px;
    color: #fff;

  }
}
